<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> Details </h2>
        </div>
        <div class="panel-body text-center">
            <p class="text-right">{{superhero.createdAt | date:"h:mma 'on' MMM d, y"}}</p>
            <img ng-src="{{post.picture.url | fpConvert: {filter:'sharpen', w:500} }}" />
            <h2>{{post.caption}}</h2>
            <hr />


            <!-- Only if there are other pictures -->
            <div ng-if="post.morePictures">
                <h3> More Pictures <h3>
                <div ng-repeat="picture in post.morePictures">
                    <div class="col-md-{{12 / post.morePictures.length}}">
                        <a ng-href="{{picture.url}}" class="thumbnail">
                          <img ng-src="{{picture.url | fpConvert: {filter:'sharpen', w:500} }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
